<h2 class="fx-center-center color-primary">Linguagens formais</h2>
<div class="fx-column fx-center-center mt-20">
    <div class="fx-row fx-gap-20">
        <button mat-raised-button (click)="goTo(1)">Exemplo 1</button>
        <button mat-raised-button (click)="goTo(2)">Exemplo 2</button>
        <button mat-raised-button (click)="goTo(3)">Exemplo 3</button>
    </div>
    <div class="mt-20">
        <button class="mt-20" mat-raised-button (click)="newGrammar()">Nova gramática</button>
    </div>
</div>